#root {
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  padding: 0;
}

nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
  border: 2px solid rgb(216, 130, 130);
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  gap: 3rem;
  padding: 2.5rem 0 0 0 ;
}

nav ul a{
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

nav li:first-child{
  text-align: right;
  /* border: 2px solid black; */
  margin: 0 auto 0 9.5rem;
  font-weight: bold;
}

nav li:nth-child(4){
  /* border: 2px solid burlywood; */
  margin: 0 9.5rem 0 0;
}

